{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {{ .Content }}
      </div>
      <div class="col-lg-4">
        <!-- Sidebar -->
        <aside class="work-single-sidebar bg-gray" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
          <h5>Quick links</h5>
          {{ range .Params.Anchor }}
          <li><a href="#{{ lower . }}">{{ . }}</a></li>
          {{ end }}
          <a href="mailto:hello@natureworks.org.uk" class="btn btn-primary mt-4">Email Jake</a>
        </aside>
      </div>
    </div>
  </div>
</section>

{{ end }}
