// Fonts
$primary-font: 'robotoslab-light';
// $primary-font: 'Roboto Condensed', sans-serif;
// $secondary-font: 'Roboto', sans-serif;
$secondary-font: 'notosans';

// Colors
$primary-color: #647137 ;
$primary-light: #C7DC83;
$black: rgb(33, 30, 30);
$white: #F6FCE6;
$gray: #b3b3ab;
$border-color: #b6c1ff;
$body-color: $white;
$text-color: #858585;
$text-light: #6e6e6e;


// Footer
$footer-bg : #1e2529;

