{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section portfolio">
  <div class="container">
    <ul>
    {{ range .Data.Pages }}
      <li>
        <a href="{{ .Permalink }}">
          {{ if .Params.images }}
            <img src="{{ .Site.Params.cloudinary }}f_auto,q_60,w_120/{{ strings.TrimLeft .Site.Params.cloudinary (index .Params.images 0) }}" class="img-fluid" alt="{{ (index .Params.imageAlt 0) }}">
          {{ end }}
          <h6 class="sm product-name">{{ .Title }}</h6>
          <p>{{ .Date.Format "Mon 2 Jan 2006" }}</p>
          <p>{{ .Description }}</p>
        </a>
      </li>
    {{ end }}
    </ul>
   </div>
</section>

{{ end }}
